body{
    background-color: #ffffffff;
    overflow-y: hidden;
}
.backgoundimg{
    position: fixed;
    background-repeat: repeat;
    z-index: -10;
}
.backgoundimgtext{
    position: fixed;
    z-index: -10;
    transform: translateY(-20px);
}
#Card{
    height: 100vh;
    cursor: grab;
}
.showmore{
    transform: translateY(-250px);
}